body{
    background-color: antiquewhite;
}
div {
    display: flex;
    align-items:center;
  }
  div > *{
    
    padding: .5rem 1rem;
  }
  .vertical{
    flex-flow:column;
  }
  #circle{
    width: 25vh;
    height: 25vh;
    background-color: red;
    border-radius:50%;
  }
  #rectangle{
    width:50vh;
    height:25vh;
    background-color:blue;
  }
  #square{
    width:25vh;
    height:25vh;
    background-color:green;
  }
  .horizontal{
    padding:10px;
    justify-content:space-evenly;
  }